<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400">
</head>
<style>
body {
    background-image: linear-gradient(#6699cc, #708090);
    width: 100%;
    height: 100%;
}

.header {
    background-color: inherit;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.form {
    font-family: 'Raleway', sans-serif;
}
</style>

<body>

<body>
<div class="header">
    <h2 style="font-weight: 385; font-size: 30px;">SELECT INTERACTIVE MAP DATA</h2>
</div>
<div class="form">
    <form style="font-weight: 375; margin-left: 175px; margin-right:175px;" action="{% url 'load_data' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit!">
    </form>
</div>


<h3>A map will appear right here:</h3>
{{ meep|safe }}

