<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:900i">
</head>
<style>
body {
    background-image: linear-gradient(#6699cc, #708090);
    width: 100%;
    height: 100%;
}

.header {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-content: center;
    margin-top: 300px;
    font-style: italic;
}

</style>

<body>
<div class="header">
    <h1 style="font-size: 60px; text-shadow: 5px 3px grey">CRIMEBUSTERS</h1>
</div>


<div id="counter" hidden>3</div>
    <script>
        setInterval(function() {
            var div = document.querySelector("#counter");
            var count = div.textContent * 1 - 1;
            div.textContent = count;
            if (count <= 0) {
                window.location.replace("/home");
            }
        }, 1000);
    </script>